/*
!.gitignore
!README
!Makefile

!src/
src/*
!src/Latte.g4
!src/go.mod
!src/go.sum

!src/parser/

!src/compiler/
src/compiler/*
!src/compiler/*.go

!src/compiler/frontend/

!src/compiler/config/

!src/compiler/backend

!lib/